p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 5px

}
button{
    padding: 20px;
    margin: 50px;
}

img{
    width:150px;
}

#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#hidden{
    display:none;
}