p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 5px

}
   

img{
    padding: 20px;
    margin: 50px;
    width:150px;
}

#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 95%;
    margin: 40px auto;
    padding: auto;

}

#is, #why, #reasons {
    padding: 20px;
    margin: 20px;
    width: 100%; 

}

#img-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}